body{
	width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245,245,245);
}
h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 10vw;
}

p{
	font-family: 'Bitter', serif;
	font-size: 5vw;
}
a{
	color:rgb(33,59,225);
	text-decoration: none;
	transition: color 0.3s ease;
}
a:hover {
    color: rgb(224,81,70);
    transition: color 0.3s ease;
}

.container{
    width: 80%;
    max-width: 1000px;
}
.smalldot{
	font-size: 5vw;
}
.script{
	font-family: 'Indie Flower', cursive;
	color: rgb(224,81,70);
}
@media all and (min-width: 960px) {
	h1{
		font-size: 76pt;
	}
	p{
		font-size: 38pt;
	}
	.smalldot{
		font-size: 38pt;
	}	
}